<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fullname, style: "display: block" %>
    <%= form.text_field :fullname %>
  </div>

  <div>
    <%= form.label :pic, style: "display: block" %>
    <%= form.file_field :pic %>
  </div>

  <div>


    <%= form.label :country_id, style: "display: block" %>
    and
    <%= form.label :phone, style: "display: block" %>

  </div>

  <div>
    <%= form.select :country_id, Country.all.collect {|x|["#{x.unicode} (#{x.phone})".html_safe, x.id]} %>
    <%= form.telephone_field :phone %>


  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
