<div id="<%= dom_id person %>">
  <p>
    <strong>Fullname:</strong>
    <%= person.fullname %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= person.pic %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= person.country_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

</div>
